<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<div>
			<a href="/">Home</a> | 
			<a href="/employee/add">Add New User</a> | 
			<a href="/employee">All Employee List</a> |
			<a href="/employee/search">Search Employee</a>
		</div>	
		<h1><%= title %></h1>
